<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form action="/login" method="POST">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token"> 
        <h1>Login here!</h1>
        <label for="username">User:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <label for="otp">otp (if enable)</label>
        <input type="text" id="otp" name="otp"> <br><br>
        <a href="{{url_for('reset_password')}}">Are you forget your password?</a><br><br>
        <input type="submit" value="Start Session">
        
    </form>

</body>
</html>