<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Password</title>
</head>
<body>
    <form action="{{ url_for('recovery_password', token=token) }}" method="POST">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token"> 
        <h1>Recovery Password</h1>
        
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        
        <button type="submit">Send</button>
    </form>

    <script>
        
        document.querySelector('form').addEventListener('submit',
            function(event){
                const newPassword = document.getElementById('new_password').value;
                const confirmPassword = document.getElementById('confirm_password').value;

                if (newPassword.length <12 || !/[!@#$%^&*(),.?":{}|<>]/.test(newPassword) ){
                    event.preventDefault();
                    alert("Password without 12 elements of lenght or/and doesnt get any special characters like those '[!@#$%^&*(),.?:{}|<>]' ")
                }
                else if(newPassword != confirmPassword){
                    event.preventDefault();
                    alert("Password don't match please try again.")
                }
            }
        )
    </script>
</body>
</html>