{% extends 'login/main.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock title %}


{% block content %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    {% if message %}
                        <p>{{message}}</p>
                    {% endif %}
                    <h3 class="title has-text-black">Recovery Password/Account</h3>
                    <hr class="login-hr">
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://via.placeholder.com/150">
                        </figure>
                        <form action="{{ url_for('reset_password') }}" method="POST">
                            <input type="hidden" value="{{ csrf_token() }}" name="csrf_token"> 
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" placeholder="Your Email or Username!" autofocus="" type="text" id="email" name="email" required><br><br>
                                </div>
                            <button class="button is-block is-light is-large is-fullwidth" type="submit">Send<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
