{% extends 'base.html' %}

{% block title %}Confirm Password{% endblock title %}

{% block content %}


    <header>
        <h1 class="title">Confirm Password</h1>
    </header>


    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}

    <form action="{{ url_for('confirm_password', option=option) }}" method="POST" id="password-form">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">

            <p id="password-error"></p>
            <div class="field">
                <label class="label" for="title">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="title">Confirm Password</label>
                <div class="control">
                    <input class="input" type="password" id="confirm" name="confirm" required>
                </div>
            </div>

            <div class="column is-full is-flex is-align-items-flex-end form-check">
                <div class="field">
                    <div class="control">
                        <input type="checkbox" class="form-check-input" id="show_passwords" onclick="togglePasswords()">
                        <label class="form-check" for="show_passwords">Show Passwords</label>
                    </div>
                </div>
            </div>

            <div class="column is-full is-flex is-align-items-flex-end">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>

    </form>
{% endblock content %}