{% extends 'Base.html' %}

{% block title %} Edit Certificates {% endblock title %} 

{% block content %}
<form action="{{ url_for('edit_certification', id=certification.id) }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
    <h2 class="title is-4">Upload Certificate</h2>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label" for="title">Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" value="{{ certification.title }}" required>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" for="description">Description</label>
                <div class="control">
                    <input class="input" type="text" id="description" name="description" value="{{ certification.description }}" required>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock content %}