{% extends 'base.html' %}

{% block title %}Experience{% endblock title %}
{% block content %}
    {% for experience in experiences%}
        {% if experience %}
            <div>
                <a href="{{ url_for('delete_experience', id=experience.id ) }}">Remove</a>
                <a href="{{ url_for('edit_experience', id=experience.id) }}">Edit</a>
                <p>{{ experience.short_description }}</p>
                <p>{{ experience.long_description }}</p>
                <p>{{ experience.aptitudes }}</p>
                <p>{{ experience.start_date }}</p>
                <p>{{ experience.end_date }}</p>
                <p>{{ experience.company_name }}</p>
                <p>{{ experience.position }}</p>
                <p>{{ experience.location }}</p>
            </div>
        {% endif%}
    {% endfor %}

    <h2>Create new experiences</h2>
    <form action="{{ url_for('new_experience') }}" method="POST">

        <label for="short_description">Short Description:</label>
        <input type="text" id="short_description" name="short_description"><br>

        <label for="long_description">Long Description:</label>
        <textarea id="long_description" name="long_description"></textarea><br>

        <label for="aptitudes">Aptitudes:</label>
        <input type="text" id="aptitudes" name="aptitudes"><br>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br>

        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br>

        <label for="position">Position:</label>
        <input type="text" id="position" name="position"><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br>

        <button type="submit">Submit</button>
    </form>
{% endblock content %}