{% extends 'base.html' %}

{% block title %}Experience{% endblock title %}
{% block content %}
    {% if experiences %}
        {% for experience in experiences %}
            {% if experience %}
                <div>
                    <a href="{{ url_for('delete_experience', id=experience.id ) }}">Remove</a>
                    <a href="{{ url_for('edit_experience', id=experience.id) }}">Edit</a>
                    <p>{{ experience.short_description }}</p>
                    <p>{{ experience.long_description }}</p>
                    <p>{{ experience.aptitudes }}</p>
                    <p>{{ experience.start_date }}</p>
                    <p>{{ experience.end_date }}</p>
                    <p>{{ experience.company_name }}</p>
                    <p>{{ experience.position }}</p>
                    <p>{{ experience.location }}</p>
                </div>
            {% endif%}
        {% endfor %}
    {% endif %}

    <h2>Create new experiences</h2>
    <form action="{{ url_for('new_experience') }}" method="POST">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        <div class="columns is-multiline">
            <!-- First row -->
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="short_description">Short Description:</label>
                    <div class="control">
                        <input class="input" type="text" id="short_description" name="short_description">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="long_description">Long Description:</label>
                    <div class="control">
                        <textarea class="textarea" id="long_description" name="long_description"></textarea>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="aptitudes">Aptitudes:</label>
                    <div class="control">
                        <input class="input" type="text" id="aptitudes" name="aptitudes">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="start_date">Start Date:</label>
                    <div class="control">
                        <input class="input" type="date" id="start_date" name="start_date" value="{{ current_date }}">
                    </div>
                </div>
            </div>
            <!-- Second row -->
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="end_date">End Date:</label>
                    <div class="control">
                        <input class="input" type="date" id="end_date" name="end_date">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="company">Company:</label>
                    <div class="control">
                        <input class="input" type="text" id="company" name="company">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="position">Position:</label>
                    <div class="control">
                        <input class="input" type="text" id="position" name="position">
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="field">
                    <label class="label" for="location">Location:</label>
                    <div class="control">
                        <input class="input" type="text" id="location" name="location">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
{% endblock content %}