{% extends 'base.html' %}

{% block title %}Multimedia{% endblock title %}
{% block content %}

    {% if multimedia_files %}
        {% for multimedia in multimedia_files %}
            <img src="{{ url_for('uploaded_file', filename = multimedia.filename ) }}" alt="{{multimedia.filename}}"> <br>
            <a href="{{ url_for('delete_file', filename=multimedia.filename) }}">delete_file</a>
        {% endfor %}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

<h2>Upload Multimedia</h2>

<form action="{{ url_for('multimedia') }}" method="POST" enctype="multipart/form-data">
    <label for="file">Select File:</label>
    <input type="file" id="file" name="file" accept="image/*,video/*" required><br>
    <button type="submit">Upload</button>
</form>
{% endblock content %}